@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
   margin: 0;
}

body {
   margin: 0;
   width: 100%;
   height: 100%;
   margin-bottom: 50px;
   background-color: #fff;
}

.content {
   width: 45%;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   font-family: 'Inter', sans-serif;
   font-size: 1.2em;
   line-height: 1.2;
   text-align: justify;
   color: #222;
}

h1, h2, h3{
   padding-bottom: 10px;
   padding-left: 0;
   font-weight: normal;
   color: #0C213C;
}

h4, h5, h6 {
   padding: 8px;
   padding-left: 0;
   font-weight: normal;
   color: #0C213C;
}

pre {
   color: #3E434D;
   display: inline-block;
   width: 100%;
   font-family: monospace;
   padding: 10px;
   background-color: #dedede;
   overflow-x: auto;
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;
   white-space: -pre-wrap;
   text-align: left;
   white-space: -o-pre-wrap;
   word-wrap: break-word;
}

hr {
    border: 0;
    margin-top: 1px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 1), rgba(240, 240, 240, 1.0));
}

a {
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    font-family: monospace;
    color: #0049aa;
}

a:hover {
    background-color: #0049aa;
    color: #eee;
}

@media only screen and (max-width: 768px) {
   .content {
      width: 90%;
   }
}
